#EmployeeTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#header {
    background-color: gray;
    color:white;
    text-align:center;
}

#container {
    max-width: 800px;
    margin: 20px auto;
  } 

#employeeHeader,
#employeeList {
    border: 1px solid #ddd;
    padding: 8px;
}