#employeeTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#header {
    background-color: gray;
    color:white;
    text-align:center;
}

#container {
    max-width: 800px;
    margin: 20px auto;
  } 

#employeeTable th,
#employeeTable td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#footer {
    margin-top: 100px;
    text-align: end;
}

.over-budget {
    border-style: solid;
    border-color: black;
    background-color: red;
    color: white;
}

#buttonSubmit {
    margin-top: 5px;
}